<?xml version='1.0' encoding='utf-8'?>
<widget id="com.dinesh.cgp" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>CGP</name>
    <description>
        Product Catalogue app.
    </description>
    <author email="dineshkumar.r@cgvakindia.com" href="http://cordova.io">
        Dinesh Raja
    </author>
    <content src="index.html" />
    <access origin="*" />
    <access origin="tel:*" launch-external="yes" />
    <access origin="mailto:*" launch-external="yes" />



    <!--Preferences-->
    <preference name="permissions" value="none" />
    <preference name="phonegap-version" value="3.6.3" />
    <preference name="orientation" value="default" />
    <preference name="target-device" value="universal" />
    <preference name="fullscreen" value="false" />
    <preference name="webviewbounce" value="false" />
    <preference name="prerendered-icon" value="false" />
    <preference name="stay-in-webview" value="false" />
    <preference name="ios-statusbarstyle" value="black-opaque" />
    <preference name="detect-data-types" value="true" />
    <preference name="exit-on-suspend" value="false" />
    <preference name="show-splash-screen-spinner" value="true" />
    <preference name="auto-hide-splash-screen" value="true" />
    <preference name="disable-cursor" value="false" />
    <preference name="android-minSdkVersion" value="7" />
    <preference name="android-installLocation" value="auto" />
    <preference name="SplashScreenDelay" value="10000" />
    <preference name="StatusBarOverlaysWebView" value="true" />

    <!--Plugins-->
    <gap:plugin name="org.apache.cordova.inappbrowser" version="0.5.2" />
    <gap:plugin name="org.apache.cordova.camera" version="0.3.2" />    
    <gap:plugin name="com.brodysoft.sqliteplugin" version="1.0.0" />
    

    <!--Icons-->
    <icon src="icon.png" />

    
    <!--Android Icons-->
    <platform name="android">
              <gap:splash src="res/icon/android/ldpi.png" gap:platform="android" density="ldpi" />
              <gap:splash src="res/icon/android/mdpi.png" gap:platform="android" density="mdpi" />
              <gap:splash src="res/icon/android/hdpi.png" gap:platform="android" density="hdpi" />
              <gap:splash src="res/icon/android/xhdpi.png" gap:platform="android" density="xhdpi" />
              <gap:splash src="res/icon/android/fr-xxhdpi.png" gap:platform="android" gap:qualifier="fr-xhdpi" />
              <gap:splash src="res/icon/android/portrait-xxhdpi.png" gap:platform="android" gap:qualifier="port-xxhdpi" />


     </platform>
     <!--ios Icons-->
     <platform name="ios">
              <!-- Spotlight Icon -->
              <icon src="res/icon/ios/icon-40.png" width="40" height="40" />
              <icon src="res/icon/ios/icon-40@2x.png" width="80" height="80" />
              <!-- iPhone / iPod Touch -->
              <icon src="res/icon/ios/icon-57.png" width="57" height="57" />
              <icon src="res/icon/ios/icon-57@2x.png" width="114" height="114" />
              <!-- iPhone / iPod Touch  -->
              <icon src="res/icon/ios/icon-60.png" width="60" height="60" />
              <icon src="res/icon/ios/icon-60@2x.png" width="120" height="120" />            
              <icon src="res/icon/ios/icon-60@3x.png" width="180" height="180" />
             <!-- iPad -->
              <icon src="res/icon/ios/icon-72.png" width="72" height="72" />
              <icon src="res/icon/ios/icon-72@2x.png" width="144" height="144" />
              
              <!-- iPad -->
              <icon src="res/icon/ios/icon-76.png" width="76" height="76" />
              <icon src="res/icon/ios/icon-76@2x.png" width="152" height="152" />
              <!-- iOS 6.1 -->
              
              
              
     </platform>

     <!--Splash-->

     <gap:splash src="splash.png" />

     <platform name="android">
        <gap:splash src="res/screen/android/hdpi.png" gap:platform="android" density="land-hdpi" />
        <gap:splash src="res/screen/android/landscape-xxhdpi.png" gap:platform="android" density="land-hdpi" />
        <gap:splash src="res/screen/android/ldpi.png" gap:platform="android" density="land-ldpi" />
        <gap:splash src="res/screen/android/mdpi.png" gap:platform="android" density="land-mdpi" />
        <gap:splash src="res/screen/android/portrait-xxhdpi.png" gap:platform="android" density="port-xhdpi" />      
        
        
     </platform>

     <gap:splash src="res/screen/ios/Default.png" gap:platform="ios" width="320" height="480" />
     <gap:splash src="res/screen/ios/Default@2x.png" gap:platform="ios" width="640" height="960" />
     <gap:splash src="res/screen/ios/Default-568h@2x.png" gap:platform="ios" width="640" height="1136" />

     <preference name="SplashScreen" value="splash.png" />
     <preference name="SplashScreenDelay" value="10000" />

</widget>
